# Configurações e segredos locais
.env
*.env

# Histórico/local runtime
estado.json
logs/
downloads/
*.log

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# IDEs
.idea/
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db
